### Spotify Data Pipeline
<br><br />
This is a simple ETL pipeline that collects data from various Spotify API endpoints using *Client Credentials Authorization Flow*. The process of the ETL is as follows:
- Read selected genre names from a file.
- Request top 10 artist data (API: search) for each genre and create a pandas dataframe:
    - artist name
    - id
    - artist popularity
    - followers

- Check the data for valid data and treat duplicates and report missing values.
- Request top 10 songs data (API: artists -> top tracks) for each unique artist in *genre* dataframe:
   - track id
   - track name
   - album
   - track popularity

- Check the data for valid data and treat duplicates and report missing values.
- Request audio features data (API: tracks -> audio features) for each top songs in *top tracks* dataframe:
   - danceability
   - energy
   - key signature   (scale of the song, i.e. C, D, etc)  	
   - loudness 	
   - mode 	(1 for major, 0 for minor sounding)
   - speechiness 	 
   - acousticness 	
   - instrumentalness 	
   - liveness 	
   - valence 	(1 towards happy/cheerful, 0 towards sad/angry)
   - tempo 	
   - duration in ms 	
   - time signature

- Check the data for valid data and treat duplicates and report missing values.
- Load all dataframes in a MySQL server for further use.
<br><br />

In [1]:
import pandas as pd
import requests
import json
import base64

from sqlalchemy.engine import create_engine
from sqlalchemy import exc

In [2]:
# -- function to get token from spotofy WebAPI for making unique requests -- 
def get_token():
    creds = open('spotify_app_credentials.txt', 'r').read()
    creds_b64 = base64.b64encode(creds.encode())
    creds_b64_dec = creds_b64.decode()
    auth_url = 'https://accounts.spotify.com/api/token'
    data = {'grant_type': 'client_credentials'}
    tk_header = {'Authorization' : f'Basic {creds_b64_dec}'}

    auth_response = requests.post(auth_url, data=data, headers=tk_header)
    access_token = auth_response.json().get('access_token')
    return access_token

In [3]:
def get_data(url, token):
    headers = {"Accept" : "application/json",
           "Content-Type" : "application/json",
           "Authorization" : f"Bearer {token}"}
    r = requests.get(url, headers = headers)
    data = r.json()
    return data

In [4]:
def data_check_validate(df: pd.DataFrame, pk: str):
    if df.empty:
        print("ERROR: No data downloaded")
        
    elif pd.Series(df[pk]).is_unique==False:
        print('Duplicate Primary Key data found')
        df.drop_duplicates(subset=[pk], inplace=True, ignore_index=True)
        print('Removed duplicate data')
    
    elif df.isnull().values.any():
        print("WARNING: Null values found")
        
    else:
        print('Data validation successful\n')

In [5]:
# -- reading selected genres list --
genres = pd.read_csv('Select_genres_spotify.csv', header=0)
genres.head()

        genres
0     acoustic
1     afrobeat
2  alternative
3        anime
4        blues

In [6]:
# -- search artists by genre -- getting data for top 10 listed artists of the given genre
access_token = get_token()
artist = []
artist_id = []
popularity = []
followers = []
genre = []
for i in genres['genres']:
    url = f'https://api.spotify.com/v1/search?q=genre:{i}&type=artist'
    data = get_data(url, access_token)

    for j in range(10):
        artist.append(data['artists']['items'][j]['name'])
        artist_id.append(data['artists']['items'][j]['id'])
        popularity.append(data['artists']['items'][j]['popularity'])
        followers.append(data['artists']['items'][j]['followers']['total'])
        genre.append(i)

genre_dict = {
    'artist':artist, 'artist_id':artist_id, 'popularity':popularity,
    'followers':followers, 'genre':genre
}

genre_df = pd.DataFrame(genre_dict)

In [7]:
data_check_validate(genre_df, 'artist_id')

Duplicate Primary Key data found
Removed duplicate data

In [8]:
genre_df

             artist               artist_id  popularity  followers     genre
0        Jason Mraz  4phGZZrJZRo4ElhRtViYdl          73    6649763  acoustic
1    Sara Bareilles  2Sqr0DXoaYABbjBo9HaMkM          66    1793363  acoustic
2    Brandi Carlile  2sG4zTOLvjKG1PSoOyf5Ej          64     619419  acoustic
3        Ben Rector  4AapPt7H6bGH4i7chTulpI          62     313462  acoustic
4    Colbie Caillat  6aZyMrc4doVtZyKNilOmwu          68    2334121  acoustic
..              ...                     ...         ...        ...       ...
222     The Prodigy  4k1ELeJKT1ISyDv8JivPpB          64    2508170    techno
223        Claptone  4mncDFjVLUa3s025Tct3Ry          65     420654    techno
224   Nils Hoffmann  6sOEMfvCfHQ9dhSWyamXVb          58      26440    techno
225     Taeko Onuki  5QeCklzEEYSSLWeUxuWeBy          54     132071    techno
226       La Bouche  488v7rQzthLNK22r0UvMie          58     211097    techno

[227 rows x 5 columns]

In [9]:
# -- get top tracks by artists --
access_token = get_token()
track_id = []
artist_id = []
track_name = []
album = []
popularity = []
for artid in genre_df['artist_id']:
    url = f'https://api.spotify.com/v1/artists/{artid}/top-tracks?market=US'
    data = get_data(url, access_token)

    for s in data['tracks']:
        track_id.append(s["id"])
        artist_id.append(artid)
        track_name.append(s["name"])
        album.append(s["album"]["name"])
        popularity.append(s["popularity"])

topt_dict = {
    'track_id':track_id, 'artist_id':artist_id, 'track_name':track_name, 
    'album':album, 'popularity':popularity    
}

topt_df = pd.DataFrame(topt_dict)

In [10]:
data_check_validate(topt_df, 'track_id')

Duplicate Primary Key data found
Removed duplicate data

In [11]:
topt_df

,track_id,artist_id,track_name,album,popularity
0,1EzrEOXmMH3G43AXT1y7pA,4phGZZrJZRo4ElhRtViYdl,I'm Yours,We Sing. We Dance. We Steal Things.,78
1,0IktbUcnAGrvD03AWnz3Q8,4phGZZrJZRo4ElhRtViYdl,Lucky,We Sing. We Dance. We Steal Things.,72
2,53QF56cjZA9RTuuMZDrSA6,4phGZZrJZRo4ElhRtViYdl,I Won't Give Up,Love Is a Four Letter Word (Deluxe Edition),68
3,1s8tP3jP4GZcyHDsjvw218,4phGZZrJZRo4ElhRtViYdl,93 Million Miles,Love Is a Four Letter Word (Deluxe Edition),50
4,7BXW1QCg56yzEBV8pW8pah,4phGZZrJZRo4ElhRtViYdl,Have It All,Know.,62
...,...,...,...,...,...
2201,6PQDpVjvVU7EBMSzL4XFGP,488v7rQzthLNK22r0UvMie,Where Do You Go,Best Of La Bouche feat. Melanie Thornton (feat...,40
2202,5XeQ0rudxvqNA2mJmZBjBK,488v7rQzthLNK22r0UvMie,You Won't Forget Me,Best Of La Bouche feat. Melanie Thornton (feat...,40
2203,4PdatHHxirBME260JwN6tA,488v7rQzthLNK22r0UvMie,SOS,Best Of La Bouche feat. Melanie Thornton (feat...,37
2204,3DGKKeQnU79Pu0X7fGDcu1,488v7rQzthLNK22r0UvMie,In Your Life,Best Of La Bouche feat. Melanie Thornton (feat...,33
2205,2Hg52Dqe1uceWnuOzx2ix3,488v7rQzthLNK22r0UvMie,Barbra Streisand - Boney M. Mega Mashup-Mix - ...,Rasputin - Lover Of The Russian Queen,31

In [12]:
# -- get audio feature for top tracks --
access_token = get_token()

audf_df = pd.DataFrame(columns = ["track_id", "danceability", "energy", "key_sig", 
                                  "loudness", "mode", "speechiness", "acousticness",
                                  "instrumentalness", "liveness", "valence", "tempo", 
                                  "duration_ms", "time_sig"])

id_num = len(topt_df)
cnt = int(id_num/100)
for i in range(cnt+1):
    a = i*100
    if i==cnt: b = a+id_num%100
    else: b = a+100
    ids_list = ''
    for j in range(a,b):
        tid = topt_df['track_id'].loc[j]
        ids_list = f"{ids_list}%2C{tid}"
    ids_list = ids_list[3:len(ids_list)]
# print(ids_list)

    track_id = []; danceability = []; energy = []; key = []; loudness = []
    mode = []; speechiness = []; acousticness = []; instrumentalness = []
    liveness = []; valence = []; tempo = []; duration_ms = []; time_sig = []

    url = f'https://api.spotify.com/v1/audio-features?ids={ids_list}'
    data = get_data(url, access_token)

    for s in data['audio_features']:
        track_id.append(s['id'])
        danceability.append(s["danceability"]);    energy.append(s['energy'])
        key.append(s["key"]);     loudness.append(s['loudness'])
        mode.append(s["mode"]);    speechiness.append(s["speechiness"])
        acousticness.append(s["acousticness"]);    instrumentalness.append(s["instrumentalness"])
        liveness.append(s["liveness"]);    valence.append(s["valence"])
        tempo.append(s["tempo"]);    duration_ms.append(s["duration_ms"])
        time_sig.append(s["time_signature"])

    audf_dict = {
        "track_id":track_id,
        "danceability":danceability, "energy":energy, "key_sig":key, "loudness":loudness,
        "mode":mode, "speechiness":speechiness, "acousticness":acousticness, 
        "instrumentalness":instrumentalness, "liveness":liveness, "valence":valence, 
        "tempo":tempo, "duration_ms":duration_ms, "time_sig":time_sig
    }

    features_df = pd.DataFrame(audf_dict)
    audf_df = pd.concat([audf_df, features_df], ignore_index=True)

In [13]:
audf_df

,track_id,danceability,energy,key_sig,loudness,mode,speechiness,acousticness,instrumentalness,liveness,valence,tempo,duration_ms,time_sig
0,1EzrEOXmMH3G43AXT1y7pA,0.703,0.444,11,-9.331,1,0.0417,0.55900,0.000000,0.0973,0.712,150.960,242947,4
1,0IktbUcnAGrvD03AWnz3Q8,0.625,0.414,0,-8.700,1,0.0369,0.29400,0.000000,0.1510,0.669,130.088,189613,4
2,53QF56cjZA9RTuuMZDrSA6,0.483,0.303,4,-10.058,1,0.0429,0.69400,0.000000,0.1150,0.139,133.406,240166,3
3,1s8tP3jP4GZcyHDsjvw218,0.572,0.454,3,-10.286,1,0.0258,0.47700,0.000014,0.0974,0.515,140.182,216387,4
4,7BXW1QCg56yzEBV8pW8pah,0.643,0.638,1,-4.947,0,0.0407,0.20400,0.000000,0.0707,0.600,82.001,226107,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2201,6PQDpVjvVU7EBMSzL4XFGP,0.719,0.938,1,-4.572,0,0.0344,0.00285,0.000210,0.1280,0.675,132.989,224467,4
2202,5XeQ0rudxvqNA2mJmZBjBK,0.722,0.910,1,-4.135,1,0.0320,0.01820,0.000001,0.0872,0.687,133.045,196347,4
2203,4PdatHHxirBME260JwN6tA,0.739,0.909,3,-4.006,0,0.0287,0.04920,0.000000,0.1590,0.842,132.980,215213,4
2204,3DGKKeQnU79Pu0X7fGDcu1,0.593,0.980,5,-3.875,0,0.0305,0.00287,0.000032,0.2080,0.864,134.714,246427,4
2205,2Hg52Dqe1uceWnuOzx2ix3,0.755,0.932,11,-5.391,0,0.0359,0.00515,0.035400,0.1700,0.860,128.001,952720,4

In [14]:
data_check_validate(audf_df, 'track_id')

Data validation successful

In [35]:
# -- connecting to the mysql server on local machine --
passwd = open('mysql_cred.txt', 'r').read()
engine = create_engine(f'mysql+pymysql://root:{passwd}@localhost') 

def alch_query(query, engine):
    try:
        engine.execute(query)
        print('Success')
    except exc.SQLAlchemyError as err:
        print(f'Issue: {err}')

In [36]:
sq_db = "create database spotify_data;"
alch_query(sq_db, engine)

Success

In [38]:
# -- loading genre dataframe into mysql server --
engine = create_engine(f'mysql+pymysql://root:{passwd}@localhost/spotify_data') 

tab_name = 'genre'
sq_tab = f"""
    CREATE TABLE IF NOT EXISTS {tab_name}(
        artist VARCHAR(200),
        artist_id VARCHAR(200) PRIMARY KEY,
        popularity INT,
        followers INT,
        genre VARCHAR(200)
        );
    """
    
alch_query(sq_tab, engine)

genre_df.to_sql(con=engine, name=tab_name, if_exists='append', index=False)

Success

In [42]:
# -- loading top tracks dataframe into mysql server --

tab_name = 'top_tracks'
sq_tab = f"""
    CREATE TABLE IF NOT EXISTS {tab_name}(
        track_id VARCHAR(200) PRIMARY KEY,
        artist_id VARCHAR(200),
        track_name VARCHAR(200),
        album VARCHAR(200),
        popularity INT
        );
    """
    
alch_query(sq_tab, engine)

topt_df.to_sql(con=engine, name=tab_name, if_exists='append', index=False)

Success

In [43]:
# -- loading audio features dataframe into mysql server --

tab_name = 'audio_features'
sq_tab = f"""
    CREATE TABLE IF NOT EXISTS {tab_name}(
        track_id VARCHAR(200) PRIMARY KEY,
        danceability DOUBLE,
        energy DOUBLE,
        key_sig INT,
        loudness DOUBLE,
        mode INT,
        speechiness DOUBLE,
        acousticness DOUBLE,
        instrumentalness DOUBLE,
        liveness DOUBLE,
        valence DOUBLE,
        tempo DOUBLE,
        duration_ms INT,
        time_sig INT
        );
    """
    
alch_query(sq_tab, engine)

audf_df.to_sql(con=engine, name=tab_name, if_exists='append', index=False)

Success

<br><br />
This has created three tables with data in the *spotify_data* database in the local MySQL database. In the next notebook we will be performing data wrangling and try to setup some machine learning tasks for the audio features data.
<br><br />